<% if @user %> 

<div class="nav"> 
  <ul class="navul">
    <li class="navbar home"><a class="nav_btn" href="/homepage">Home</a></li>
    <form action="/homepage" method="POST">
      <input type="hidden" name="_method" value="delete">
      <li class="navbar"><button class="nav_btn">Log Out</button></li>
      <li class="navbar"><p>Hello, <%= @user.name %></p></li>
    </form>
  </ul>
</div>

<% end %>

<div class="body">
  <h1>Add a Category</h1>
  
  <div class="category_input">
  <form action="/articles/:id/add_category" method="POST"> 
    <label class="p" for="add_category">Add Category: </label>
    <input class="input" type="text" name="add_category" id="add_category">
    <input class="login_links btn" type="submit" name="submit" placeholder="Update">
  </form>
  </div>

  <div class="article_body">
    <p class="article_title"> <%= @this_article[:title] %> </p>
    <p class="article_author"> <b>By:</b> <%= @find_author[:name] %> || <b>Categories:</b> <%= @category[:name] %> || <%= @this_article.date_created %> </p>
    <p class="article_content"> <%= $markdown.render(@this_article[:content]) %></p>
    <br/>
  </div>
</div>


</div>