<% if @user %> 
 
<div class="nav"> 
  <ul class="navul">
    <form action="/homepage" method="POST">
      <input type="hidden" name="_method" value="delete">
      <li class="navbar"><button class="nav_btn">Log Out</button></li>
    </form>
  </ul>
  <a class="navbar nav_btn" href="/categories">Categories</a>
  <a class="navbar nav_btn" href="/new_article">Write an Article</a>
  <li class="navbar"><a class="nav_btn" href="/homepage">Home</a></li>
  <li class="hello"><p>Hello, <%= @user.username %></p></li> 
</div>

<% end %>

<div class="body">
  <h1>NYC Street Meats: <br/> The Wiki</h1>
  <div class="article_body">
    <p class="article_title"> <%= @this_article[:title] %> </p>
    <p class="article_author"> <b>By:</b> <%= @find_author[:name] %> || <b>Categories:</b> <%= @category[:name] %> || <%= @this_article.date_created %> </p>
    <p class="article_content"> <%= $markdown.render(@this_article[:content]) %></p>
    <br/>
  </div>
  <p class="login_links"><a href="/articles/<%= @this_article.id %>/update_article">Update This Article</a></p>
  <p class="login_links"><a href="/articles/<%= @this_article.id %>/add_category">Add a Category</a></p>
</div>


   