<% if @user %> 

<div class="nav"> 
  <ul class="navul">
    <li class="navbar home"><a class="nav_btn" href="/homepage">Home</a></li>
    <form action="/homepage" method="POST">
      <input type="hidden" name="_method" value="delete">
      <li class="navbar"><button class="nav_btn">Log Out</button></li>
      <li class="navbar"><p>Hello, <%= @user.name %></p></li>
    </form>
  </ul>
</div>

<% end %>

<div class="body">
  <h1>NYC Street Meats: <br/> The Wiki</h1>
  <div class="article_body">
    <p class="article_title"> <%= @this_article[:title] %> </p>
    <p class="article_author">By: <%= @find_author[:name] %></p> 
    <p>Categories: <%= @category %></p>
    <br/>
    <p class="article_content"><%= @this_article[:content] %></p>
    <br/>
  </div>
  <p class="login_links"><a href="/articles/<%= @this_article.id %>/update_article">Update This Article</a></p>
</div>


   